<%- include('includes/head') %>

	<div class="wrapper">
		<!-- Include sidebar -->
        <%- include('includes/sidebar') %>

		<div class="main">
			<!-- Include navbar -->
			<%- include('includes/header') %>

			<main class="content">
				<div class="container-fluid p-0">
					
					  

					<h1 class="h3 mb-3">Welcome <%= session.user.name %> <br><strong>3D Printing</strong> Dashboard <%- %></h1>
					<% if (!session.user.version) { %> <!-- Check if the version is null -->
						<div class="card border-warning mb-3">
						  <div class="card-body text-dark bg-warning">
							<h5 class="card-title text-white">Version Setup Required</h5>
							<p class="card-text text-white">You need to set up your version before proceeding with further steps.</p>
							<a href="/settings" class="btn btn-primary">Set Up Version Number</a> <!-- Link to settings page -->
						  </div>
						</div>
					  <% } %>
					  <% if(session.user.role == "66264859c4263172c1bef475") {%>
						<div class="row">
							<div class="col-xl-12 col-xxl-12 d-flex">
								<div class="w-100">
									<div class="row">
										<div class="col-sm-6">
											<div class="card">
												<div class="card-body">
													<div class="row">
														<div class="col mt-0">
															<h5 class="card-title">Total SRT File</h5>
														</div>
	
														<div class="col-auto">
															<div class="stat text-primary">
																<i class="align-middle" data-feather="truck"></i>
															</div>
														</div>
													</div>
													<h1 class="mt-1 mb-3"><%= totalStlFiles %></h1>
													<div class="mb-0">
														<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> 0% </span>
														<span class="text-muted">Since last week</span>
													</div>
												</div>
											</div>
											<div class="card">
												<div class="card-body">
													<div class="row">
														<div class="col mt-0">
															<h5 class="card-title">Total STL File Send</h5>
														</div>
	
														<div class="col-auto">
															<div class="stat text-primary">
																<i class="align-middle" data-feather="users"></i>
															</div>
														</div>
													</div>
													<h1 class="mt-1 mb-3"><%= activeStlFiles %></h1>
													<div class="mb-0">
														<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 0% </span>
														<span class="text-muted">Since last week</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="card">
												<div class="card-body">
													<div class="row">
														<div class="col mt-0">
															<h5 class="card-title">Send STL File Opened </h5>
														</div>
	
														<div class="col-auto">
															<div class="stat text-primary">
																<i class="align-middle" data-feather="dollar-sign"></i>
															</div>
														</div>
													</div>
													<h1 class="mt-1 mb-3"><%= totalUrlHits %></h1>
													<div class="mb-0">
														<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 0% </span>
														<span class="text-muted">Since last week</span>
													</div>
												</div>
											</div>
											<div class="card">
												<div class="card-body">
													<div class="row">
														<div class="col mt-0">
															<h5 class="card-title">Total Admin</h5>
														</div>
	
														<div class="col-auto">
															<div class="stat text-primary">
																<i class="align-middle" data-feather="shopping-cart"></i>
															</div>
														</div>
													</div>
													<h1 class="mt-1 mb-3"><%= userCount %></h1>
													<div class="mb-0">
														<span class="text-danger"><i class="mdi mdi-arrow-bottom-right"></i> 0% </span>
														<span class="text-muted">Since last week</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% } %>
					<div class="card p-2">

						<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=en.indian%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FCalcutta" style="border-width:0" scrolling="no" width="100%" height="500" frameborder="0"></iframe>

					</div>

				</div>
			</main>
			<%- include('includes/footer') %>
			